In [1]:
### Get all the necessary packages for python ####################
import requests
import pandas as pd
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [2]:
### Get Url web page data into python
url_data=requests.get("https://en.wikipedia.org/wiki/List_of_international_cricket_centuries_by_Sachin_Tendulkar")
content=url_data.content

In [3]:
soup=BeautifulSoup(content)

In [4]:
div_data=soup.find('div',{'id':'mw-content-text','class':'mw-content-ltr'})
table_data_all=div_data.find_all('table')

In [5]:
len(table_data_all)
### So we found out 5 tables ######################

5

In [6]:
## table_data[1] is our data
table_data=table_data_all[1]

In [7]:
### find the headers
sachin_century_header=[]
table_header=table_data.find_all('th')
sachin_century_header.clear()

In [8]:
for header in table_header[:10]:
    sachin_century_header.append(header.get_text())

In [9]:
sachin_century_header

['No.',
 'Score',
 'Against',
 'Pos.',
 'Inn.',
 'Test',
 'Venue',
 'H/A',
 'Date',
 'Result']

In [10]:
row_marker=0
sachin_century_tests=pd.DataFrame()
for tr in table_data.find_all('tr'):
    column_marker=0
    row_marker=row_marker+1
    for td in tr.find_all('td'):
        sachin_century_tests.loc[row_marker,column_marker]=td.get_text()
        column_marker=column_marker+1

In [11]:
sachin_century_tests.head()
### Score is not present as its part of th hyperlink ###################

,0,1,2,3,4,5,6,7,8
2,1,England,6,4,2,"Old Trafford, Manchester",Away,000000001990-08-09-00009 August 1990,Drawn[11]
3,2,Australia,6,2,3,"Sydney Cricket Ground, Sydney",Away,000000001992-01-02-00002 January 1992,Drawn[12]
4,3,Australia,4,2,5,"WACA Ground, Perth",Away,000000001992-02-01-00001 February 1992,Lost[13]
5,4,South Africa,4,2,2,"Wanderers Stadium, Johannesburg",Away,000000001992-11-26-000026 November 1992,Drawn[14]
6,5,England,4,1,2,"M. A. Chidambaram Stadium, Chennai",Home,000000001993-02-11-000011 February 1993,Won[15]

In [12]:
### Get the scores ###################
th_class=table_data.findAll('th')
data=[]
for th in th_class:
    data.append(th.get_text())

In [13]:
centuries=[]
for element in data[10:]:
    index=element.find("!")
    centuries.append(element[index+1:])

In [14]:
for i in list(range(0,len(centuries))):
    centuries[i]=centuries[i].strip()

In [17]:
## Got all the scores from th header #################
centuries

['119*',
 '148*',
 '114',
 '111',
 '165',
 '104*',
 '142',
 '179',
 '122',
 '177',
 '169',
 '143',
 '139',
 '148',
 '155*',
 '177',
 '113',
 '136',
 '124*',
 '126*',
 '217',
 '116',
 '122',
 '201*',
 '126',
 '155',
 '103',
 '176',
 '117',
 '193',
 '176',
 '241*',
 '194*',
 '248*',
 '109',
 '101',
 '122*',
 '154*',
 '153',
 '109',
 '103*',
 '160',
 '100*',
 '105*',
 '143',
 '100',
 '106',
 '203',
 '214',
 '111*',
 '146']

In [42]:
sachin_century_tests.drop('Score',axis=1,inplace=True)

In [65]:
sachin_century_tests
### Get the data from various columns
### Got all the countries
## Convert it into series
'''

Out[9]:
['No.',
 'Score',
 'Against',
 'Pos.',
 'Inn.',
 'Test',
 'Venue',
 'H/A',
 'Date',
 'Result']



'''

countries=sachin_century_tests[1].values
for i in list(range(0,len(countries))):
    countries[i]=countries[i].replace('\xa0','')
from pandas import Series
countries=Series(countries)

In [66]:
## Got all the scores
scores=sachin_century_tests['9'].values
for i in list(range(0,len(scores))):
    scores[i]=scores[i].replace('\xa0','')
scores=Series(scores)

In [67]:
### Got all the positions
Pos=sachin_century_tests[2].values
for i in list(range(0,len(Pos))):
    Pos[i]=Pos[i].replace('\xa0','')
Pos=Series(Pos)

In [68]:
## Got all the innings in which he scored
Inn=sachin_century_tests[3].values
for i in list(range(0,len(Inn))):
    Inn[i]=Inn[i].replace('\xa0','')
Inn=Series(Inn)

In [69]:
## Got all the test
Test=sachin_century_tests[4].values
for i in list(range(0,len(Test))):
    Test[i]=Test[i].replace('\xa0','')
Test=Series(Test)

In [70]:
## Got all the venues
Venue=sachin_century_tests[5].values
for i in list(range(0,len(Venue))):
    Venue[i]=Venue[i].replace('\xa0','')
Venue=Series(Venue)

In [73]:
## Home or Away Centuries
HorA=sachin_century_tests[6].values
for i in list(range(0,len(HorA))):
    HorA[i]=HorA[i].replace('\xa0','')
HorA=Series(HorA)

In [74]:
##Date 
Date=sachin_century_tests[7].values
for i in list(range(0,len(Date))):
    Date[i]=Date[i].replace('\xa0','')
Date=Series(Date)

In [76]:
## Results
Result=sachin_century_tests[8].values
for i in list(range(0,len(Result))):
    Result[i]=Result[i].replace('\xa0','')
Result=Series(Result)

In [79]:
sachin_test_centuries=pd.concat([countries,scores,Pos,Inn,Test,Venue,HorA,Date,Result],axis=1)

In [81]:
sachin_test_centuries.columns=["Country","Score","Position","Innings","Test","Venue","H/A","Date","Result"]

In [82]:
sachin_test_centuries

,Country,Score,Position,Innings,Test,Venue,H/A,Date,Result
0,England,119*,6,4,2,"Old Trafford, Manchester",Away,000000001990-08-09-00009 August 1990,Drawn[11]
1,Australia,148*,6,2,3,"Sydney Cricket Ground, Sydney",Away,000000001992-01-02-00002 January 1992,Drawn[12]
2,Australia,114,4,2,5,"WACA Ground, Perth",Away,000000001992-02-01-00001 February 1992,Lost[13]
3,South Africa,111,4,2,2,"Wanderers Stadium, Johannesburg",Away,000000001992-11-26-000026 November 1992,Drawn[14]
4,England,165,4,1,2,"M. A. Chidambaram Stadium, Chennai",Home,000000001993-02-11-000011 February 1993,Won[15]
5,Sri Lanka,104*,4,3,2,"Sinhalese Sports Club Ground, Colombo",Away,000000001993-07-27-000027 July 1993,Won[16]
6,Sri Lanka,142,4,1,1,"K. D. Singh Babu Stadium, Lucknow",Home,000000001994-01-18-000018 January 1994,Won[17]
7,West Indies,179,4,1,2,"Vidarbha Cricket Association Ground, Nagpur",Home,000000001994-12-01-00001 December 1994,Drawn[18]
8,England,122,4,3,1,"Edgbaston, Birmingham",Away,000000001996-06-06-00006 June 1996,Lost[19]
9,England,177,4,1,3,"Trent Bridge, Nottingham",Away,000000001996-07-04-00004 July 1996,Drawn[20]
10,South Africa,169,5,2,2,"Newlands Cricket Ground, Cape Town",Away,000000001997-01-02-00002 January 1997,Lost[21]
11,Sri Lanka,143,4,1,1,"R. Premadasa Stadium, Colombo",Away,000000001997-08-02-00002 August 1997,Drawn[22]
12,Sri Lanka,139,4,2,2,"Sinhalese Sports Club Ground, Colombo",Away,000000001997-08-09-00009 August 1997,Drawn[23]
13,Sri Lanka,148,5,1,3,"Wankhede Stadium, Mumbai",Home,000000001997-12-03-00003 December 1997,Drawn[24]
14,Australia,155*,4,3,1,"M. A. Chidambaram Stadium, Chennai",Home,000000001998-03-06-00006 March 1998,Won[25]
15,Australia,177,4,1,3,"M. Chinnaswamy Stadium, Bangalore",Home,000000001998-03-25-000025 March 1998,Lost[26]
16,New Zealand,113,5,3,2,"Basin Reserve, Wellington",Away,000000001998-12-26-000026 December 1998,Lost[27]
17,Pakistan,136,4,4,1,"M. A. Chidambaram Stadium, Chennai",Home,000000001999-01-28-000028 January 1999,Lost[28]
18,Sri Lanka,124*,4,3,2,"Sinhalese Sports Club Ground, Colombo",Away,000000001999-02-24-000024 February 1999,Drawn[29]
19,New Zealand,126*,4,3,1,"Punjab Cricket Association Stadium, Mohali",Home,000000001999-10-10-000010 October 1999,Drawn[30]
20,New Zealand,217,4,1,3,"Sardar Patel Stadium, Motera, Ahmedabad",Home,000000001999-10-29-000029 October 1999,Drawn[31]
21,Australia,116,4,2,2,"Melbourne Cricket Ground, Melbourne",Away,000000001999-12-26-000026 December 1999,Lost[32]
22,Zimbabwe,122,4,2,1,"Feroz Shah Kotla, New Delhi",Home,000000002000-11-18-000018 November 2000,Won[33]
23,Zimbabwe,201*,4,1,2,"Vidarbha Cricket Association Ground, Nagpur",Home,000000002000-11-25-000025 November 2000,Drawn[34]
24,Australia,126,4,2,3,"M. A. Chidambaram Stadium, Chennai",Home,000000002001-03-18-000018 March 2001,Won[35]
25,South Africa,155,4,1,1,"Goodyear Park, Bloemfontein",Away,000000002001-11-03-00003 November 2001,Lost[36]
26,England,103,4,2,2,"Sardar Patel Stadium, Ahmedabad",Home,000000002001-12-11-000011 December 2001,Drawn[37]
27,Zimbabwe,176,4,2,1,"Vidarbha Cricket Association Ground, Nagpur",Home,000000002002-02-21-000021 February 2002,Won[38]
28,West Indies,117,4,1,2,"Queen's Park Oval, Port of Spain",Away,000000002002-04-19-000019 April 2002,Won[39]
29,England,193,4,1,3,"Headingley, Leeds",Away,000000002002-08-22-000022 August 2002,Won[40]
30,West Indies,176,4,3,3,"Eden Gardens, Kolkata",Home,000000002002-11-30-000030 November 2002,Drawn[41]
31,Australia,241*,4,1,4,"Sydney Cricket Ground, Sydney",Away,000000002004-01-02-00002 January 2004,Drawn[42]
32,Pakistan,194*,4,1,1,"Multan Cricket Stadium, Multan",Away,000000002004-03-28-000028 March 2004,Won[43]
33,Bangladesh,248*,4,2,1,"Bangabandhu National Stadium, Dhaka",Away,000000002004-12-10-000010 December 2004,Won[44]
34,Sri Lanka,109,4,1,2,"Feroz Shah Kotla, New Delhi",Home,000000002005-12-10-000010 December 2005,Won[45]
35,Bangladesh,101,4,1,1,"Bir Shrestha Shahid Ruhul Amin Stadium, Chitt...",Away,000000002007-05-18-000018 May 2007,Drawn[46]
36,Bangladesh,122*,4,1,2,"Sher-e-Bangla National Stadium, Mirpur",Away,000000002007-05-25-000025 May 2007,Won[47]
37,Australia,154*,4,2,2,"Sydney Cricket Ground, Sydney",Away,000000002008-01-02-00002 January 2008,Lost[48]
38,Australia,153,4,1,4,"Adelaide Oval, Adelaide",Away,000000002008-01-24-000024 January 2008,Drawn[49]
39,Australia,109,4,1,4,"Vidarbha Cricket Association Stadium, Nagpur",Home,000000002008-11-06-00006 November 2008,Won[50]
40,England,103*,4,4,1,"M. A. Chidambaram Stadium, Chennai",Home,000000002008-12-11-000011 December 2008,Won[51]
41,New Zealand,160,4,2,1,"Seddon Park, Hamilton",Away,000000002009-03-18-000018 March 2009,Won[52]
42,Sri Lanka,100*,5,3,1,"Sardar Patel Stadium, Ahmedabad",Home,000000002009-11-16-000016 November 2009,Drawn[53]
43,Bangladesh,105*,4,1,1,"Zohur Ahmed Chowdhury Stadium, Chittagong",Away,000000002010-01-17-000017 January 2010,Won[54]
44,Bangladesh,143,4,2,2,"Sher-e-Bangla National Stadium, Mirpur",Away,000000002010-01-24-000024 January 2010,Won[55]
45,South Africa,100,4,3,1,"Vidarbha Cricket Association Stadium, Nagpur",Home,000000002010-02-06-00006 February 2010,Lost[56]
46,South Africa,106,4,2,2,"Eden Gardens, Kolkata",Home,000000002010-02-14-000014 February 2010,Won[57]
47,Sri Lanka,203,4,2,2,"Sinhalese Sports Club Ground, Colombo",Away,000000002010-07-26-000026 July 2010,Drawn[58]
48,Australia,214,4,2,2,"M. Chinnaswamy Stadium, Bangalore",Home,000000002010-10-09-00009 October 2010,Won[59]
49,South Africa,111*,5,3,1,"SuperSport Park, Centurion",Away,000000002010-12-16-000016 December 2010,Lost[60]
50,South Africa,146,4,2,3,"Newlands Cricket Ground, Cape Town",Away,000000002011-01-02-00002 January 2011,Drawn[61]